.socialLinks {
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: 500px) {
    width: 100%;
    margin-bottom: 1em;
  }
}

.link {
  margin: 0 0.25em;
}
