.inlinePowerNumber {
  display: inline-block;
  color: cyan;
  font-weight: bold;
  white-space: nowrap;

  &.symbol {
    &:before {
      content: "î’";
      display: inline-block;
      margin-right: 0.05em;
      font-family: "Destiny Keys";
      transform: translateY(-0.3em);
    }
  }
}
