$kofi-red: #ff5e5b;
$kofi-blue: #29abe0;
$kofi-yellow: #fbaa19;
$kofi-dark: #434b57;

.kofiContainer {
  .link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    max-height: 1.5em;
    overflow: hidden;

    &:active,
    &:visited {
      color: white;
    }
    &:hover {
      color: cyan;
    }

    span {
      margin-left: 0.25em;
    }
  }
}
