@font-face {
  font-family: "Destiny Keys";
  src: url("../../fonts/Destiny_Keys.otf") format("opentype");
}

.App {
  --background-image: url("../../images/lightfall/lfl-media-shot-1-full-mq.jpg");

  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  background-color: #333;
  background: #333 var(--background-image) center center no-repeat;

  background-image: radial-gradient(
      ellipse 800px 300px at top,
      rgba(0, 0, 0, 0.5),
      transparent
    ),
    var(--background-image);

  background-size: cover;
  background-attachment: fixed;
}

.AppInner {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &.top {
    justify-content: flex-start;
  }
}

.loadingContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loadingStatus {
  color: white;
}

.statusAuthError {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.christmas_0 {
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: -55px;
    top: -27px;
    width: 100px;
    height: 113px;
    background-image: url("../../images/christmas/hat-2.png");
    pointer-events: none;
  }
}

.christmas_1 {
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    bottom: -40px;
    width: 200px;
    height: 90px;
    background-image: url("../../images/christmas/balls.png");
    pointer-events: none;
  }
}

.christmas_2 {
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: -43px;
    top: -42px;
    width: 100px;
    height: 94px;
    background-image: url("../../images/christmas/hat-1.png");
    pointer-events: none;
  }
}

.christmas_0,
.christmas_1,
.christmas_2 {
  &:after {
    @media (max-width: 500px) {
      display: none;
    }
  }
}
