.characterDisplayWrapper {
  position: relative;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  margin: 5px 10px 2em;
  box-sizing: border-box;
  box-shadow: -2px 5px 10px rgba(black, 0.5), 2px 5px 10px rgba(black, 0.5);
  border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;
  transform: translate(0, 0);

  @media (max-width: 500px) {
    max-width: 100%;
    margin: 0 0 2em;
    border-radius: 0;
  }

  .characterDisplay {
    height: 100%;

    &.darkerBackground {
      background: rgba(black, 0.7);
    }
  }

  .dragOverlay {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;

    span {
      padding: 5em 2em;
      font-size: 36px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  }

  &.hidden {
    display: none;
  }

  &.dragOver {
    * {
      pointer-events: none;
    }
    .dragOverlay {
      display: flex;

      span {
        display: none;
      }
    }
  }

  &.dragging {
    background: rgba(black, 0.5) !important;

    .characterDisplay {
      opacity: 0.2;
    }
    .dragOverlay {
      display: flex;
      border: 5px dashed rgba(white, 0.5);

      span {
        display: block;
      }
    }
  }

  &.dragOver {
    .dragOverlay {
      border: 5px dashed cyan;
    }
  }
}

.content {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}
