.details {
  color: white;
  padding: 10px 10px 0;
  box-sizing: border-box;
}

.detailsRow {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0.5em;
  text-shadow: 0 0 3px black, 0 0 10px black;

  &:last-of-type() {
    margin-bottom: 0;
  }
}

.detailsLabel {
  flex: 1 1 0;
  display: flex;
  align-items: center;
}

img.detailsInlineIcon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
}

.detailsValue {
  flex: 0 1 0;
  display: flex;
  align-items: center;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 4px;
  background: #334;
  box-sizing: border-box;
  border: 1px solid black;
}

.progressBarFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: cyan;
}

.progressBarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
    to right,
    black,
    black 1px,
    transparent 1px,
    transparent calc(25% - 1px),
    black calc(25% - 1px),
    black 25%
  );
}
