.characterDisplayWrapper {
  position: relative;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  margin: 5px 10px 2em;
  box-sizing: border-box;
  box-shadow: -2px 5px 10px rgba(black, 0.5), 2px 5px 10px rgba(black, 0.5);
  border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;

  @media (max-width: 500px) {
    max-width: 100%;
    margin: 0 0 2em;
    border-radius: 0;
  }

  .dragOverlay {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;

    span {
      padding: 5em 2em;
      font-size: 36px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  }

  &.dragOver {
    * {
      pointer-events: none;
    }
    .dragOverlay {
      display: flex;

      span {
        display: none;
      }
    }
  }

  &.dragging {
    background: rgba(black, 0.5) !important;

    .characterDisplay {
      opacity: 0.2;
    }
    .dragOverlay {
      display: flex;
      border: 5px dashed rgba(white, 0.5);

      span {
        display: block;
      }
    }
  }

  &.dragOver {
    .dragOverlay {
      border: 5px dashed cyan;
    }
  }
}

.header {
  position: relative;
  font-weight: 600;
  width: 100%;

  .emblemBackground {
    display: block;
    width: 100%;
    height: auto;
  }

  .emblemSecondarySpecial {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center left;
  }
  .emblemSecondaryOverlay {
    position: absolute;
    left: -7px;
    top: -7px;
  }

  .name,
  .power {
    position: absolute;
    top: 0;
    height: 65px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    text-shadow: 0 0 20px black, 0 0 5px black;
  }

  $titleColor: #e490dc;

  .title {
    position: absolute;
    top: 43px;
    left: 65px;
    color: $titleColor;
    font-weight: normal;
    font-size: 16px;
    padding: 0 50px 2px 50px;
    //border-top: 1px solid $titleColor;
    letter-spacing: 0px;
    background: linear-gradient(
      to right,
      transparent 0,
      rgba($titleColor, 0.2) 25%,
      rgba($titleColor, 0.2) 75%,
      transparent 100%
    );
    text-shadow: 1px 1px 2px rgba(black, 0.5), -1px 1px 2px rgba(black, 0.5),
      0px -1px 2px rgba(black, 0.5);

    &.gilded {
      color: #ffe8b0;

      .gildedCount {
        display: inline;
        margin-left: 0.5em;
        position: relative;

        &::before {
          position: relative;
          display: inline-block;
          font-family: "Destiny Keys";
          font-size: 18px;
          top: 1px;
          margin-bottom: -2px;
          content: "";
        }
      }
    }
  }

  .name {
    left: 85px;
    font-size: 30px;
    color: white;
    letter-spacing: 0.1ch;

    &.withTitle {
      top: -10px;
    }
  }

  .power {
    right: 20px;
    font-size: 40px;
    color: cyan;

    &:before {
      font-family: "Destiny Keys";
      content: "";
      display: inline-block;
      text-shadow: 0 0 5px black;
      margin-bottom: 0.5em;
      margin-right: 0.05em;
    }

    &.hasRedacted {
      &:after {
        content: "⚠️";
        display: block;
      }
    }
  }

  .headerOverlayBar {
    position: absolute;
    left: 3px;
    bottom: 3px;
    right: 3px;
    height: 10px;
    background-color: rgba(white, 0.1);
  }
}

.content {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}
