.characterDisplay {
  padding: 1em;
  min-width: 200px;
  box-sizing: border-box;
  margin: 5px 10px;
  transition: background-color 1s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.header {
  margin-bottom: 1em;
  position: relative;
  font-weight: 600;
  letter-spacing: 0.22ch;
  width: 100%;

  .emblemBackground {
    display: block;
    max-width: 90vh;
    width: 100%;
    height: auto;
    width: 494px;
    height: 96px;
  }

  .name {
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 80px;
    display: flex;
    align-items: center;
    left: 100px;
    font-size: 30px;
    color: white;
  }

  .power {
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 80px;
    display: flex;
    align-items: center;
    right: 20px;
    font-size: 40px;
    color: cyan;
  }
}

.details {
  color: white;

  .detailsRow {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.5em;

    .detailsLabel {
      flex: 1 1 0;
      display: flex;
      align-items: center;

      img.detailsInlineIcon {
        width: 24px;
        height: 24px;
        margin-right: 0.5em;
      }
    }

    .detailsValue {
      flex: 0 1 0;
      display: flex;
      align-items: center;
    }
  }
}

$bar-size: 40px;
$bar-border-color: rgba(white, 0.5);

.powerBars {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);

  .powerRange {
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .rangeLine {
      height: 1px;
      width: 100%;
      flex-basis: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 5px;
    }
  }

  .powerLabel {
    height: 1em;
    position: relative;
    margin-left: $bar-size;
    box-sizing: border-box;

    .indicator {
      position: absolute;
      top: -1px;
      display: block;
      padding: 2px 4px 4px;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.5);
      color: yellow;
      margin-left: -1em;
      transition: left 3s ease-out;
    }
  }
}

.barWrapper {
  width: 100%;
  height: $bar-size;
  background-color: $bar-border-color;
  border: 1px solid $bar-border-color;
  box-sizing: border-box;
  margin: 5px 0;
  display: flex;
  flex-flow: row nowrap;
}

.iconWrapper {
  width: $bar-size - 2;
  height: $bar-size - 2;
  border-right: 1px solid $bar-border-color;
  background-color: rgb(82, 47, 101);
}

.icon {
  width: 100%;
  height: 100%;
}

.barContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.barLine {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: yellow;
  transition: left 3s ease-out;
}

.filledBar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 5px;
  background-color: rgba(30, 30, 30, 0.95);
  color: white;
  box-sizing: border-box;
  transition: width 2s ease-out;
  overflow-x: visible;
  white-space: nowrap;
}

.label {
  .power {
    margin-right: 0.3em;

    &.max {
      color: cyan;
    }
  }

  .slotName {
  }
}
