.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  box-sizing: border-box;
  z-index: 2000;

  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 500px) {
    position: relative;
    margin-top: 1em;
    justify-content: center;
    z-index: unset;
  }
}
