.lazyImage {
  position: relative;

  img {
    opacity: 1;
    transition: opacity 0.2s ease-out;

    &.hidden {
      opacity: 0;
    }

    &.overlay {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
