@import "./Spinner.module.scss";

.loading {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px 0 0;
  min-width: 200px;
  min-height: 110px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  background: rgba(black, 0.8);
  z-index: 1000;
}

.anchor {
  position: relative;
}

.spinnerLarge {
  @include spinner(40px, 12s, false);
}

.spinnerSmall {
  @include spinner(25px, 8s, true);
}

.status {
  margin: 50px 1em 1em;
  color: rgba(white, 0.9);
  display: flex;
  justify-content: center;
  font-weight: 600;
  text-align: center;

  a,
  a:active,
  a:visited,
  a:hover {
    color: white;
  }
}
