.loginContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.exampleImage {
  flex: 0 1 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 500px) {
    display: none;
  }
}

.login {
  color: white;
  background: rgba(black, 0.6);
  padding: 2em;
  box-sizing: border-box;
  margin: 0 1em;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & > div {
    margin-bottom: 1em;
    flex: 1 0 100%;
    max-width: 400px;
    line-height: 1.5em;
  }
}

.loginButton {
  margin: 1em;
  position: relative;
  background: rgba(183, 140, 37, 0.8);
  color: #f5f5f5;
  padding: 6px 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;

  &:after {
    position: absolute;
    content: "";
    display: block;
    border: 1px solid #ffce1f;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: ease-in-out 0.25s;
  }

  &:hover:after {
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-color: #f5f5f5;
  }
}
