.membershipHeader {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
}

.membershipSelect {
  @media (max-width: 500px) {
    order: 1;
    margin-bottom: 0.5em;
  }
}

.hardRefreshButton {
  background: transparent;
  border: none;
  color: white;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.5s ease-out;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .hardRefreshIcon {
    background-image: url("../images/icons/reload.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
  }

  .hardRefreshText {
    margin-left: 0.25em;
    display: none;
  }

  &:hover {
    opacity: 1;
    transition: opacity 0s linear;
    text-decoration: underline;
  }

  &.disabled {
    opacity: 0.25;
    transition: opacity 0s linear;
  }

  @media (max-width: 500px) {
    order: 2;
    margin-bottom: 0.5em;

    .hardRefreshText {
      display: block;
    }
  }
}

.logOutButton {
  background: transparent;
  border: none;
  color: white;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .logOutIcon {
    background-image: url("../images/icons/logout.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
  }

  .logOutText {
    margin-left: 0.25em;
    display: none;
  }

  &:hover {
    opacity: 1;
    text-decoration: underline;
    transition: opacity 0s linear;
  }

  @media (max-width: 500px) {
    order: 3;
    margin-bottom: 0.5em;

    .logOutText {
      display: block;
    }
  }
}
