.membershipSelect {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
  align-items: center;
  justify-content: center;

  @media (max-width: 500px) {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@font-face {
  font-family: "Destiny Keys";
  src: url("../fonts/DestinyKeys.woff2") format("woff2");
}

.logOut {
  background: transparent;
  border: none;
  color: white;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .logOutIcon {
    background-image: url("../images/icons/logout.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
  }

  .logOutText {
    margin-left: 0.25em;
    display: none;
  }

  @media (max-width: 500px) {
    margin-top: 1em;

    .logOutText {
      display: block;
    }
  }

  &:hover {
    opacity: 1;
    text-decoration: underline;
    transition: opacity 0s linear;
  }
}

.membership {
  position: relative;
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px black;
  justify-content: space-between;

  .membershipDisplayName {
    margin-left: 10px;
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  @mixin icon-before($iconPath) {
    &:before {
      display: inline-block;
      content: "";
      width: 25px;
      height: 20px;
      background-image: url($iconPath);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &.platform_xbox {
    background-color: #00ad00;
    background: linear-gradient(270deg, #177a18 0, #2a9917);

    @include icon-before(
      "https://www.bungie.net/7/ca/bungie/icons/logos/xbox/icon.png"
    );
  }

  &.platform_psn {
    background-color: #00419c;
    background: linear-gradient(270deg, #013682 0, #3a87ba);

    @include icon-before(
      "https://www.bungie.net/7/ca/bungie/icons/logos/playstation/icon.png"
    );
  }

  &.platform_steam {
    background-color: #1d2c40;
    background: linear-gradient(270deg, #1d2c40 0, #29435a);

    font-family: "Destiny Keys", "Noto Sans HK", -apple-system,
      BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    @include icon-before(
      "https://www.bungie.net/7/ca/bungie/icons/logos/steam/icon.png"
    );
  }

  &.platform_blizzard {
    background-color: #448bd4;
    background: linear-gradient(270deg, #012750 0, #0895df);

    @include icon-before("../images/icons/blizzard-icon.png");
  }

  &.platform_stadia {
    background-color: #a31561;
    background: linear-gradient(270deg, #f34c23 0, #a31561);

    @include icon-before(
      "https://www.bungie.net/7/ca/bungie/icons/logos/stadia/icon.png"
    );
  }
}

.crossSaveDisplayWrapper {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  height: 15px;

  display: flex;
  flex-flow: row;
  justify-content: center;
}

.crossSaveDisplay {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background: linear-gradient(to bottom, rgba(black, 0.8), rgba(black, 0.4));
  padding: 3px 5px 3px;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}

.crossSaveIcon {
  width: 13px;
  height: 13px;
  position: relative;
  top: -0.5px;
  background-image: url("../images/icons/cross-save-sm-white.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.crossSaveMembershipIcon {
  width: 12px;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}

.crossSaveMembershipType {
  &_xbox {
    background-image: url("https://www.bungie.net/7/ca/bungie/icons/logos/xbox/icon.png");
  }
  &_psn {
    background-image: url("https://www.bungie.net/7/ca/bungie/icons/logos/playstation/icon.png");
  }
  &_steam {
    background-image: url("https://www.bungie.net/7/ca/bungie/icons/logos/steam/icon.png");
  }
  &_blizzard {
    background-image: url("../images/icons/blizzard-icon.png");
  }
  &_stadia {
    background-image: url("https://www.bungie.net/7/ca/bungie/icons/logos/stadia/icon.png");
  }
}

/*
.crossSaveActive {
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-image: url("../images/cross-save-sm.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.crossSaveDisabled {
  opacity: 0.5;
  filter: saturate(0%);

  .membershipDisplayName {
    font-size: 0;
    transition: ease-out 1s;
    margin-left: 0;
  }

  &:hover {
    opacity: 1;
    filter: saturate(100%);

    .membershipDisplayName {
      width: 100%;
      margin-left: 10px;
    }
  }
}
*/
