.membershipSelect {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
}

.membership {
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 5px 10px 5px 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px black;

  @mixin icon-before($iconPath) {
    &:before {
      display: inline-block;
      content: '';
      width: 25px;
      height: 20px;
      background-image: url($iconPath);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 10px;
    }
  }

  &.platform_xbox {
    background-color: #00ad00;
    background: linear-gradient(270deg, #177a18 0, #2a9917);

    @include icon-before('../images/xbox-icon.png');
  }

  &.platform_psn {
    background-color: #00419c;
    background: linear-gradient(270deg, #013682 0, #3a87ba);

    @include icon-before('../images/psn-icon.png');
  }

  &.platform_steam {
    background-color: #1d2c40;
    background: linear-gradient(270deg, #1d2c40 0, #29435a);

    @include icon-before('../images/steam-icon.png');
  }

  &.platform_blizzard {
    background-color: #448bd4;
    background: linear-gradient(270deg, #012750 0 ,#0895df);

    @include icon-before('../images/blizzard-icon.png');
  }
}