.redactedWarning {
  color: white;
  background: rgba(100, 0, 0, 0.85);
  padding: 1em;
  border-radius: 5px;
  max-width: 800px;

  button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: cyan;
    cursor: pointer;
  }

  p {
    margin-top: 0;
  }
}

.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  button {
    margin-left: 0.5em;
  }
}
