.S10Overlay {
  @media (max-width: 1900px) {
    display: none;
  }
  @media (max-height: 1000px) {
    display: none;
  }
  pointer-events: none;
}

.overlayContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.seasonComp {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 430px;
  height: 750px;
  transition: opacity 2s ease-in;
  pointer-events: none;
}

.trialsComp {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 430px;
  height: 750px;
  transition: opacity 2s ease-in;
  pointer-events: none;
}

.hidden {
  opacity: 0;
}
