@mixin spinner($size: 50px, $spinTime: 8s, $reverse: false) {
  position: absolute;
  left: 0 - ($size / 2);
  top: 0 - ($size / 2);
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 4px solid rgba(white, 0.9);
  border-left-color: transparent;
  border-bottom-color: transparent;

  @if $reverse == true {
    animation: spin $spinTime linear reverse infinite;
  } @else {
    animation: spin $spinTime linear infinite;
  }

  transform-origin: 50% 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.anchor {
  position: relative;
}

.spinner {
  @include spinner;
}
