.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  box-sizing: border-box;
  z-index: 2000;

  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: center;

  color: white;

  background: linear-gradient(
    to right,
    rgba(black, 0.5),
    transparent 20%,
    transparent 80%,
    rgba(black, 0.5)
  );

  pointer-events: none;

  .copy {
    display: none;
    margin-bottom: 1em;
    text-align: center;
  }

  @media (max-width: 500px) {
    .copy {
      display: block;
    }

    &.relative {
      position: relative;
    }

    padding-top: 1em;
    justify-content: center;
    z-index: unset;
    background: linear-gradient(to bottom, rgb(0, 0, 40), black);
  }
}
