.App {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #333;
  background: #333 url('./images/09_540_blur.jpg') center center no-repeat;
  background-size: cover;
}

.charactersContainer {
  display: flex;
  align-items: center;
  min-height: 60vh;
  padding-top: 1em;
  box-sizing: border-box;
}

.characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.loadingStatus {
  color: white;
}