.App {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  background-color: #333;
  background: #333 url("./images/season-of-the-hunt/europa-12.jpg") center
    center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.AppInner {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &.top {
    justify-content: flex-start;
  }
}

.loadingContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.charactersContainer {
  display: flex;
  align-items: flex-start;
  min-height: 60vh;
  width: 100%;
  padding-top: 3em;
  box-sizing: border-box;

  @media (max-width: 500px) {
    padding-top: 1em;
  }
}

.characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.loadingStatus {
  color: white;
}

.statusAuthError {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.christmas_0 {
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: -55px;
    top: -27px;
    width: 100px;
    height: 113px;
    background-image: url("images/christmas/hat-2.png");
    pointer-events: none;
  }
}

.christmas_1 {
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: -35px;
    bottom: -40px;
    width: 200px;
    height: 90px;
    background-image: url("images/christmas/balls.png");
    pointer-events: none;
  }
}

.christmas_2 {
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: -43px;
    top: -42px;
    width: 100px;
    height: 94px;
    background-image: url("images/christmas/hat-1.png");
    pointer-events: none;
  }
}

.christmas_0,
.christmas_1,
.christmas_2 {
  &:after {
    @media (max-width: 500px) {
      display: none;
    }
  }
}
