.App {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  background-color: #333;
  background: #333 url("./images/season-of-arrivals/story_low.jpg") center
    center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.AppInner {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &.top {
    justify-content: flex-start;
  }
}

.loadingContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.charactersContainer {
  display: flex;
  align-items: flex-start;
  min-height: 60vh;
  width: 100%;
  padding-top: 3em;
  box-sizing: border-box;

  @media (max-width: 500px) {
    padding-top: 1em;
  }
}

.characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.loadingStatus {
  color: white;
}

.statusAuthError {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.hardRefreshButton {
  border: none;
  background-color: transparent;
  background-image: url("./images/icons/reload.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  font-size: 0;
  line-height: 0;
  color: rgba(0, 0, 0, 0);
  margin-right: 5px;
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.75;
  transition: opacity 0.5s ease-out;

  &:hover {
    opacity: 1;
    transition: opacity 0s linear;
  }

  &.disabled {
    opacity: 0.25;
    transition: opacity 0s linear;
  }
}
